body{
    background-color: gray;
    color: aliceblue;
    font-size: 50;
}
p{
    font-size: 120%;
    color: black;
    text-align: justify;
}
p.titulo{
    color:brown;
    text-align: center;
    font-size: 70px;
    text-shadow: 4px 5px 5px black;
        /* lateral vertical esfumacear cor */
}
p.ass{
    color: white;
    text-align: right;
    text-decoration: overline underline;
}
p.ass:hover{
    text-decoration: none;
}
img{
    width: 300px;
    height: 350px;
    border-radius: 30px;

}
img:hover{ /* Ação quando vai em cima da imagem */
    border-radius: 0px 0px 50px 0px;
}